<% provide(:title, 'About Ternstyl') %>
<div class="well well-lg">
  <header>
    <h1>About Ternstyl</h1>
  </header>
	<h2>What is ternsyl anyway?</h2>
	 <p>
	    We are glad you asked!  Ternstyl is a travel community
	    where people can share their travel knowledge with their
	    friends and fellow travelers. The whole goal of this site is to
	    help make travel easier and more pleasurable.  If you have
	    ideas that you think will help improve the site, please feel free to
	    <li><%= link_to "Contact", contact_path %></li>
	    and let us know.  We will be
	    happy to consider any and all suggestions.
	  </p>

	  <p>
	    Ternstyl is named for the amazing
	    <a href="http://en.wikipedia.org/wiki/Arctic_Tern">Arctic Tern</a>
	    , which has one of the longest migration paths of any known animal.
	  </p>

	  <p>
	    <%= image_tag('birdtern.jpg', width: 244, height: 342) %>
	  </p>

	  <p>
	    Cute, isn't he?  We think so. We found this lovely photo taken
	    by Arthur Morris at
	    <a href="http://www.allaboutbirds.org/guide/arctic_tern/id">
	      allaboutbirds.org</a>
	    If you want to see more of his work, please check them out!
	  </p>

	  <p>The founder of ternstyl used to work on a luxury cruise ship
	    that traveled to all 7 continents.  While working there, she found
	    that the guests and crew had some of the best travel knowledge of
	    anyone she had ever met.
	  </p>

	  <p>Once she returned to shore, she found that she really missed the
	    amazing wealth of knowledge that the ship travel community provided;
	    hence, ternstyl was born.
	  </p>

	  <p> Ternstyl is meant to be a place where people can share their
	    travel tips, photos, and ideas with fellow travelers.  After all
	    the information you can find from locals and fellow travelers is
	    much more valuable than the information you can find from someone
	    who is simply trying to sell you something.
	  </p>

	  <p>So go ahead, share, learn and travel with the best of them.  We know
	    that our best source of information available is you and your travel
	    experiences.  Plus, now you finally have a place to share your travels
	    to your hearts content without feeling like your getting the old
	    eye-rolls that so-and-so is going on and on about their travels again.
	    We've all been there.  So guess what!?  Now there is finally a place where
	    we want you to tell us all about your travels! Yay!  A captive travel
	    audience!
	  </p>
</div>
