<% provide(:title, 'Contact') %>
<div class="well well-lg">
  <header>
    <h1>Contact Ternstyl</h1>
  </header>
    <p>
	   If you have any suggestions, please feel free to let us know by emailing us at: info@ternstyl.com.  
    </p>
</div>
