<% provide(:title, 'Membership Agreement') %>
<div class="well well-lg">
    <header>
      <h1>Membership Agreement</h1>
    </header>

    <p>
		This Membership Agreement (the Agreement) is effective 
		November 21, 2013 by and between the Ternstyl, hereinafter 
		referred to as Community, accessed via www.ternstyl.com 
		with a business address of PO Box 17523, Fountain Hills, 
		Arizona 85269, and all current and future members of 
		Ternstyl hereinafter referred to as "Member". 
	</p>
	
	<p>
		By accessing, browsing or using the www.ternstyl.com 
		website or by selecting I Accept during the membership 
		registration, you represent that you have read, 
		understand and agree to be bound by the terms and 
		conditions of this Membership Agreement hereinafter 
		referred to as Agreement. 
	</p>

	<h4>1. Nature of the Service</h4>
	<p>
		The Community is a social network facilitating the 
		exchange of personal information between people. 
		This socialization shall include reading the profile 
		pages of other members and possibly even contacting them. 
		The Community provides to its members benefits such as but 
		not exclusive to: building their own travel maps, sharing
		travel information, and sharing travel photos from
		destinations all over the world. The Community works 
		like an online community of internet users. 				
	</p>
	
	<h4>2. User Registration and Information </h4>
	<p>
		Member shall fill in the correct information requested 
		in the User Registration form on the site. Member shall 
		be required to promptly update the User Information on 
		the site. Member shall select a username and password 
		during the User Registration process. Member shall be 
		responsible for: a) all use of the Site made by the 
		Members username and password, and b) maintaining the 
		confidentiality of the Members username and password. 				
	</p>
	
	<h4>3. Content </h4>
	<p>
		The Content includes messages and other materials 
		posted to forums, groups, or other locations on the 
		Site by the members of the Community. Member of the 
		Community is deemed to grant the Community the 
		nonexclusive right to post, display, copy, and modify 
		the Content in connection with the operation of the 
		Site and the Communitys business. Further, the Member 
		is deemed to grant the Community the nonexclusive right 
		to post, display, copy, and sell the Content within the 
		limitations set by the Member during the online publishing 
		process. Member is also deemed to authorize the Community 
		to disclose his/her personal data when the Member 
		includes such personal data in the content. 
	</p>
	
	<h4>4. Release</h4>
	<p>
		If the Member has a dispute with one or more other 
		Members, the Member shall release the Community 
		(and its officers, directors, agents, subsidiaries, 
		joint ventures and employees) from claims, demands 
		and damages (actual and consequential) of every kind 
		and nature, known and unknown, arising out of or in 
		any way connected with such disputes. 
	</p>
	
	<h4>5. Privacy</h4>
	<p>
		Community shall not sell or rent Members personal 
		information to third parties without Members explicit 
		consent. Community shall store and process Members 
		information on computers located in the United States 
		that are protected by physical as well as technological 
		security devices. However, the Community shall be 
		permitted to access and modify Members information. 
	</p>
	
	<h4>6. Indemnity</h4>
	<p>
		Member shall indemnify and hold the Community (and 
		its officers, directors, agents, subsidiaries, joint 
		ventures and employees) harmless from any claim or 
		demand, including reasonable attorneys' fees, made 
		by any third party due to or arising out of Members 
		breach of this Agreement, or Members violation of 
		any law or the rights of a third party. 				
	</p>
	
	<h4>7. No Agency</h4>
	<p>
		No agency, partnership, joint venture, employee-employer 
		or franchiser-franchisee relationship is intended or 
		created by this Agreement. 				
	</p>
	
	<h4>8. Terminating Membership</h4>
	<p>
		Member shall choose to retire or delete the published 
		content from the Communitys site and it shall be no 
		longer available or visible to other visitors. 
		Terms regarding the status of the uploaded content 
		shall remain applicable when the Member chooses to 
		terminate the membership. Contents posted to the site, 
		other than the published content, shall not be deleted 
		or retired as a result of the Members termination. 
	</p>
	
	<h4>9. Governing Law</h4>
	<p>
		This Agreement shall be construed under and governed 
		in accordance with the laws of the Arizona. 
	</p>
	
	<h4>10. Arbitration</h4>
	<p>
		Any dispute arising under this contract shall be 
		resolved under the commercial arbitration rules 
		of the American Arbitration Association. 				
	</p>
	
	<h4>11. Limitation of Liability</h4>
	<p>
		Member shall not hold Community responsible for 
		other user Members content, actions or inactions. 				
	</p>

	<p>
		www.ternstyl.com 
	</p>

	<p>Effective as of November 21, 2013</p>
</div>
